*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 6px;
    scrollbar-color: #14578f #09121d;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #09121d;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #14578f;
    border-radius: 4px;
    border: 3px none #14578f;
  }

:root {
    --color-bg: #0A1423;
    --color-text-main: #fff;
  }

body{
    background-color: var(--color-bg);
    color: var(--color-text-main);
    overflow-x: hidden;
}











/* ---- HERO SECTION ---- */

.hero{
    margin-top: 164px;
    width: 100vw;
    height: 510px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
}

.glow{
    width: 400px;
    height: 400px;

    position: absolute;
    top: 0;
    z-index: 2;

    background-image: radial-gradient(/* top */ 100px 100px at 0px 50%, rgba(6, 157, 226, 0.10) 0px, transparent 200px);
    background-repeat: no-repeat;
    /* background-position: top 200px left -200px; */
}

.hero__butterfliesBG{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.06;
}

.hero__container{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    /* border: 2px green dotted; */

    display: flex;
    justify-content: space-between;
}


.hero__text{
    width: 50%;
    height: 100%;
    /* border: 1px red solid; */
}


.hero__textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__textContainer{
    height: 100%;
    background-image: url("../images/number-15.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

h1{
    font-family: 'Damion', cursive;
    font-size: 124px;
}
h2{
    margin-top: -32px;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    letter-spacing: 4px;
}


.hero__butterflies{
    width: 50%;
    text-align: center;
}

.hero__butterflies img{
    filter: drop-shadow(0px 0px 148px rgba(7, 153, 219, 0.4));
}








/* ---- GALLERY SECTION ---- */

.section-gallery{
    margin-top: 250px;
    width: 100vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}


.gallery{
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gallery img{
    width: 404px;
    height: 500px;
    border-radius: 16px;
    
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 80%);
    mask-image: linear-gradient(to top, transparent 0%, black 80%);
    
}

.gallery-1{
    filter: drop-shadow(8px 10px 148px rgba(7, 153, 219, 0.3));
}









/* ---- LOCATIONS SECTION ---- */

.section-location{
    position: relative;
    width: 100vw;
    box-sizing: content-box;
}

.butterflies-position{
    width: 1323px;
    height: 1326px;
    position: absolute;
    right: -260px;
    top: -240px;
    z-index: -1;
    opacity: 0.05;
    
}

@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.church{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.church__info{
    display: flex;
    gap: 56px;
    margin-top: 32px;
}

.church__title{
    font-family: 'Damion', cursive;
    font-size: 64px;
    line-height: 70px;
}
.church__description{
    font-family: 'Damion', cursive;
    font-size: 48px;
    line-height: 70px;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #229afc;
    margin-top: -20px;
}

.church__info a{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #1E80D1;
    margin-top: -20px;
}

.butterfly-left{
    position: absolute;
    top: -220px;
    left: 0;
    filter: drop-shadow(0px 0px 148px rgba(7, 153, 219, 0.4));
    animation: myAnim 3s ease-in-out 0s infinite normal forwards;
}

.section-location{
    margin-top: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 180px;
}

h3{
    font-family: 'Damion', cursive;
    font-size: 70px;
    text-align: center;
}

h4{
    font-family: 'Damion', cursive;
    font-size: 60px;
    text-align: center;
}

iframe{
    border-radius: 16px;
}

.date__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date{
    font-family: 'Damion', cursive;
    font-size: 70px;
    text-align: center;
    line-height: 70px;
}

.contact__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.contact__social{
    display: flex;
    justify-content: center;
    gap: 128px;
    margin-top: 32px;
}

.contact__socialContainer{
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact__socialContainer span{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #00C2FF;
}










/* ---- FOOTER SECTION ---- */

footer{
    position: relative;
    width: 100vw;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.butterfly-right{
    width: 164px;
    position: absolute;
    top: -50px;
    right: 40px;
    z-index: 4;
    /* filter: drop-shadow(0px 0px 148px rgba(7, 153, 219, 0.4)); */
    animation: myAnim 3s ease-in-out 0s infinite normal forwards;
}

footer img{
    width: 360px;
    height: 360px;
    margin-bottom: -125px;
}

.box{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050C19;
    border-top: 2px #2C425C solid;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #374c70;
}

















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1120px) {
    /* body{background: red;} */


    /* ---- HERO SECTION ---- */

    .hero{
        margin-top: 64px;
    }

    .hero__butterfliesBG{
        width: 100%;
    }

    h1{
        font-family: 'Damion', cursive;
        font-size: clamp(56px, 10vw, 104px);
    }

    .hero__butterflies{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        text-align: right;
        margin-top: -96px;
    }

    .hero__butterflies img{
        max-width: 100%;
        filter: drop-shadow(0px 0px 148px rgba(7, 153, 219, 0.4));
    }

    
    .hero__container{
        width: 100%;
        max-width: 1280px;
        height: 100%;
        /* border: 2px green dotted; */

        display: flex;
        justify-content: space-evenly;
    }

    h2{
        margin-top: -2px;
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        letter-spacing: 4px;
    }

    .butterfly-left{
        width: 140px;
        height: auto;

        position: absolute;
        top: -220px;
        left: 0;
        filter: drop-shadow(0px 0px 148px rgba(7, 153, 219, 0.4));
        animation: myAnim 3s ease-in-out 0s infinite normal forwards;
    }



 }

















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
    /* body{background: red;} */


    /* ---- HERO SECTION ---- */

.hero{
    margin-top: 64px;
    width: 100vw;
    height: 510px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
}

.glow{
    width: 400px;
    height: 400px;

    position: absolute;
    top: 0;
    z-index: 2;

    background-image: radial-gradient(/* top */ 100px 100px at 0px 50%, rgba(6, 157, 226, 0.10) 0px, transparent 200px);
    background-repeat: no-repeat;
    /* background-position: top 200px left -200px; */
}

.hero__butterfliesBG{
    width: 600px;
}

.hero__container{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    /* border: 2px green dotted; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hero__text{
    width: 100%;
    height: 100%;
    order: 1;
}


.hero__textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__textContainer{
    height: 100%;
    background-image: url("../images/number-15.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

h1{
    font-family: 'Damion', cursive;
    font-size: clamp(56px, 16vw, 80px);
}
h2{
    margin-top: -2px;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
}


.hero__butterflies{
    width: 100%;
    text-align: right;
    order: 2;
    margin-top: -96px;

}

.hero__butterflies img{
    max-width: 16vw;
    filter: drop-shadow(0px 0px 148px rgba(7, 153, 219, 0.4));
}






.date{
    font-family: 'Damion', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 70px;
}

.contact__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}




  }